<div class="container">
	<div class="row">
		<div class="col-md-12 title">
			<h1>Logic test grainchain-test</h1>
			<h2>Name: Distribución de bombillos</h2>
			<p>The objective of this test is calculate the minimal amount of light bulbs to use  by area (matrix input)</p>
		</div>
	</div>
	<div class="row">
		{{!-- <form action="/upload-target" class="dropzone"></form> --}}
		<div class="col-md-12">
			<br>
			<p>Please, in the next area drop a txt file with the matrix to calculate</p>
			<form id="upload-widget" method="post" action="/upload" class="dropzone">
				<div class="fallback">
					<input name="file[]" type="file" multiple/>
					{{!-- <input id="upload" name="upload[]" type="file" /> --}}
				</div>
			</form>

		</div>
	</div>
	<div class="row margin">
		<div class="col-md-12">
			<p class="message"></p>
			<table class="table table-bordered">
				<tbody>

				</tbody>
			</table>

		</div>
	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.js"></script>
<script type="text/javascript">

	Dropzone.options.uploadWidget = {
		paramName: 'file',
		maxFilesize: 2, // MB
		// maxFiles: 1,
		dictDefaultMessage: 'Drag an txt here to upload, or click to select one',
		// acceptedFiles: 'txt/*',
		init: function() {
			this.on('success', function(file, resp){
				console.log('FILE ', file);
				showSolution(resp)
			});
		}
	};

	function showSolution(data) {
		// show data
		console.log('DATA ', JSON.stringify(data));
		var table = '';
		var xData = data.matrixDimentions.x;
		var yData = data.matrixDimentions.y;
		var x = 0;
		// var y = 0;
		for(var i=0; i<data.matrix.length; i++){
			if(x == 0){
				table += '<tr>'
			}
			if(data.matrix[i].value == 1){
				table += '<td class="dark">'+data.matrix[i].value+'</td>'
			} else if(data.matrix[i].isSetted) {
				table += '<td class="ligth">'+data.matrix[i].value+'</td>'
			} else {
				table += '<td class="white">'+data.matrix[i].value+'</td>'
			}
			x++;
			if(x == xData){
				table += '</tr>'
				x = 0;
			}
		}
		$('tbody > tr').remove()
		$('tbody').append(table)
		$('.message').html('The next matrix represents the solution to file loaded')
	}


</script>