body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.title {
	padding-top: 1em;
}

.dropzone {
	margin-top: 2em;
}

.margin {
	margin-top: 3em;
}

.dark {
	background-color: black;
	color: black;
}

.ligth {
	background-color: yellow;
	color: yellow;
}

.white {
	background-color: white;
	color: white;
}